html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  body {
    font-family: sans-serif;
    background-image: url('../images/bg-pattern.png');
  }
  .container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .search-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }
  .search-label {
    display: block;
    margin-bottom: 20px;
  
    font-size: 30px;
    font-weight: 700;
  }
  .blue {
    color: rgb(17, 0, 255);
  }
  .red {
    color: rgb(255, 0, 0);
  }
  .yellow {
    color: rgb(255, 196, 0);
  }
  .green {
    color: rgb(0, 255, 64);
  }
  
  #search-input {
    width: 400px;
    height: 50px;
    padding: 10px 20px 10px 45px;
  
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 2px 1px 16px 0px rgba(0, 0, 0, 0.39);
  
    font-size: 16px;
  
    outline: none;
  
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .search-wrap:hover #search-input,
  .search-wrap:focus #search-input {
    box-shadow: 2px 1px 16px 0px rgba(33, 61, 107, 0.39);
    outline: none;
  }
  .icon-wrap {
    position: relative;
  }
  .search-icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    fill: rgba(0, 0, 0, 0.39);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .search-wrap:hover .search-icon,
  .search-wrap:focus .search-icon {
    fill: rgba(5, 92, 233, 0.39);
  }
  .result-wrap {
    padding: 30px;
  }
  .countries-list {
    margin: 0;
    padding: 0;
  }
  .list-item {
    font-size: 20px;
    margin-left: 200px;
  }
  .one-country-card {
    list-style: none;
  }
  .country-title {
    margin-top: 0;
    text-align: center;
    font-size: 30px;
  }
  .country-info-wrap {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
  }
  .country-info-caption {
    font-weight: 700;
  }
  .flag {
    width: 350px;
    height: 200px;
    box-shadow: 2px 1px 16px 0px rgba(0, 0, 0, 0.39);
  }




  /* ////////////////////////////////////////////////////////////////////////// */

  html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  
    background: linear-gradient(
        0deg,
        rgba(55, 201, 157, 0.267),
        rgba(55, 201, 157, 0.267)
      ),
      url('./images/bg-pattern.png');
  }
  
  img {
    width: auto;
    height: 100%;
  }
  
  ul {
    margin: 0;
  }
  
  #page-container {
    display: flex;
    justify-content: center;
    /* text-align: center; */
    padding: 70px;
  }
  
  .search-wrapper {
    display: flex;
    justify-content: center;
  }
  
  .input-wrapper {
    position: relative;
    display: block;
  }
  
  .text {
    font-size: 20px;
  }
  
  input {
    width: 800px;
    height: 45px;
    border: 4px solid rgb(73, 114, 119);
    border-radius: 30px;
    font-size: 16px;
    background-color: #ffffff;
    padding: 12px 20px 12px 50px;
    outline-style: none;
  }
  
  input:focus {
    border-color: #a8395e;
  }
  
  .search-svg {
    position: absolute;
    top: 32%;
    left: 20px;
    fill: #a8395e;
  }
  
  .clear-svg {
    width: 13px;
    height: 13px;
    fill: #ffffff;
  }
  
  .clear-button {
    position: absolute;
    top: 16%;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 2px;
    border-style: none;
    background-color: rgb(73, 114, 119);
    outline-style: none;
  }
  
  .clear-button:hover,
  .clear-button:focus {
    background-color: #a8395e;
  }
  
  .countries-container {
    font-size: 25px;
  }
  
  .countries-list {
    padding-left: 30px;
  }
  
  .countries-list-wrapper {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
    width: 800px;
    border: 4px solid rgb(73, 114, 119);
    border-radius: 30px;
    background-color: #ffffff;
  }
  
  .data-wrapper {
    max-width: 800px;
  }
  
  .card-container {
    width: 800px;
    padding: 30px;
  
    margin-top: 10px;
    width: 800px;
    border: 4px solid #497277;
    border-radius: 30px;
    background-color: #ffffff;
  }
  
  .card-wrapper {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 30px;
    align-items: center;
  }
  
  .country-name-title {
    margin: auto;
    text-align: center;
  }
  
  .info-wrapper {
    min-width: 40%;
    font-size: 25px;
    list-style: none;
    padding: 0px;
  }
  
  .info-item {
    font-weight: 700;
  }
  
  .info-item + .info-item {
    margin-top: 20px;
  }
  
  .item-value {
    font-weight: 400;
  }
  
  .flag-wrapper {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0px 5px rgb(0 0 0 / 50%);
  }
  
  .lang-list {
    list-style: disc;
  }
  
  .lang-item {
    margin-top: 5px;
    font-size: 20px;
  }
  
  [data-pnotify] {
    top: 5px !important;
    right: 50% !important;
    margin-right: -150px !important;
  
    position: absolute;
    height: auto;
    z-index: 9999;
  }