<section class="countries__section">
  <div class="countries__container">
  
      <form class="search-form js-search-form" id="countdown_reverse" >

        <input class="country__input" type="text" id="dynamic-label-input" pattern="" name="country" placeholder="Enter Country Name" required>
        <label for="dynamic-label-input">Enter Country Name</label>

      </form>

    <!-- countriesNameTmpl.hbs -->
    <ul class="counties__list js-counties-list"></ul>
    <!-- countryInfoTmpl.hbs -->
    <div class="country-card countries__container js-country-card" id="countdown_anchor"></div>
  </div>
</section>