<section class="countries__section">
  <div class="countries__container">
  
      <form class="search-form js-search-form" id="countdown_reverse" >
        <!-- <div class="icon-wrap">
          <svg class="search-icon">
            <use href="./images/sprite.svg#icon-search"></use>
          </svg>
        </div> -->
        <input class="country__input js-search-input" type="text" id="dynamic-label-input" name="country" placeholder="Enter Country Name" pattern="">
        <label for="dynamic-label-input">Enter Country Name</label>
      </form>

    <!-- countriesNameTmpl.hbs -->
    <!-- countryInfoTmpl.hbs -->
    <div class="country-card countries__container js-country-card"></div>
  </div>
</section>